header {
    background-color: #2a8cb6;
}
body {
    max-width: unset !important;
    width: 1200px;
}
.dashboard .action-section ul {
    background-color: #2C3531;
}
/*#login-form {
    color: yellow;
    text-align: center;
    background-image: url('/ms/uiframework/resource/file/configuration/globalresources/images/rwanda-flag-std.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/
.patient-header.dead .death-header {
    background: red;
}
/*#login-form h1 {
    color: white;
}
form fieldset, .form fieldset{
       background-color: transparent;
}
#login-form ul.select{
    background-color: transparent;
}
#login-form ul.select li{
    margin: 0 10px;
        text-align: left;
        display: inline-block;
        width: 250px;
        padding: 5px;
        color: #e2ea1b;
        background-color: black;
        
}
#login-form ul.select li.selected {
    background-color: #F6BE00;
    color: #3E3E3F;
    font-weight: bolder;
    border-color: transparent;
}
#login-form a {
    color: #ffffff;
    text-decoration: none;
}
#login-form ul.select li:hover{
    background-color: #F6BE00;
    color: black;
}*/
